.topbar-logo::before {
    color: #fff;
    font-size: 32px;
    vertical-align: top;
}
.topbar-logo span {
    display:block;
    width:0px;
    overflow:hidden;
}
.topbar-item {
    display: inline-block;
    height: 60px;
    color:#fff;
    width:134px;
    text-align:center;
    vertical-align: top;
}
.topbar-item:hover {
    background:#0c77d1;
}
.topbar-item:active,.topbar-item:focus{
    background:#006bc7;
    outline:0;
}
.topbar-item.focus {
    width:112px;
    background-color: #006bc7;
}
.topbar-nav {
    display:inline-block;
    margin-right:0px;
    padding-right:0px;
    color:#d2e7f9;
    vertical-align: top;
}
.topbar-nav-link {
    display: inline-block;
    padding:0 10px;
    width:106px;
    height:60px;
    color:inherit;
    cursor:pointer;
    vertical-align: top;
    white-space:nowrap;
}
.topbar-nav-link:last-child {
    margin-right:20px;
}
.topbar-nav-link.focus,.topbar-nav-link:active,.topbar-nav-link:focus,.topbar-nav-link:hover {
    color:#fff;
}
.topbar-nav-link .topbar-mobile-dropbox { 
    top:100%;
    margin-top:-5px;
    cursor:auto;
    display:none;
    width:200px;
    left:7px;
    line-height:40px;
    color:#333;
    font-size:1pc;
    font-weight:700;
    padding:3px 10px;
}
.topbar-nav-link .topbar-mobile-dropbox::before {
    border-color:transparent transparent #fff;
    right:auto;
    left:9px;
}
.topbar-nav-link:hover .topbar-mobile-dropbox {
    display:block;
}
.topbar-nav-icon::before {
    margin-right:5px;
    display:inline-block;
    vertical-align:middle;
    font-size:22px;
}
.topbar-profilebox{
    display:inline-block;
    position:absolute;
    right:0px;
    color:#fff;
    vertical-align: top;
}
.icon-gift::before {
    content:"\e91d";
}
.icon-service::before{
    content:"\e94a";
}
.icon-mobile::before {
    content: "\e92e";
}
.icon-profile::before{
    content:"\e945";
}
.topbar-nav-qrcode {
    width:100%;
}
.topbar-profilebox-dropbox {
    width:122px;
    top:100%;
    right:0;
    margin-top:-8px;
    display:none;
}
.topbar-profilebox-dropbox::before { 
    border-color:transparent transparent #fff;
    right:8px;
}
.topbar-profilebox-dropbox a{
    display:block;
    line-height:2pc;
    padding:0 15px;
    color:#666;
}
.topbar-profilebox-dropbox a::before{
    position:relative;
    top:1px;left:-3px;
    color:#999;
}
.topbar-profilebox-dropbox a.icon-logout {
    border-top:1px #eee solid;
}
.topbar-profilebox-dropbox a:hover{
    background:#f1f1f1;
}
.dropbox{
    color:#999;
    position:absolute;
    background:#fff;
    background:rgba(255,255,255,.98);
    padding:4px 6px;
    box-shadow:0 1px 2px rgba(0,0,0,.5);
    border:1px solid #ddd\9;
    border-width:0 1px 1px\9;
    z-index:6;
}
.dropbox::before{
    content:' ';
    border:5px solid #fff;
    display:block;
    position:absolute;
    top:-10px;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -295px;
    right:0px;
    background-color: #504d53;
    width: 330px;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 7;
}
.sidebar-tabs {
    float: left;
    width: 35px;
    height: 100%;
}
.toolbar-tabs-middle{
    position: absolute;
    width: 35px;
    top: 50%;
    margin-top: -220px;
}
.toolbar-btn {
    width:35px;
    line-height:35px;
    color:#ccc;
    margin:5px 0;
}
.toolbar-btn, .toolbar-cartbtn{
    position:relative;
    display:block;
    cursor:pointer;
    text-align:center;
}
.toolbar-separator {
    font-size: 1px;
    border-top: 1px solid #737074;
    height: 0;
    margin: 0 8px;
}
@media (max-height:520px){
    .toolbar-btn{
        display:none;
    }
    .sidebar-btn-backtop{
        display:block;
    }
    .toolbar-cartbtn{
        margin-top:90px;
    }
}
.toolbar-cartbtn {
    color: #ccc;
    line-height: 16px;
    padding: 7px 8px 10px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 700;
}
.toolbar-cartbtn:before{
    font-size:20px;
    margin-bottom:5px;
    display:block;
    font-weight:400;
}
.toolbar-btn:before{
    font-size:20px;
}
.toolbar-btn.focus,.toolbar-btn:focus,.toolbar-btn:hover{
    color:#fff;
    background-color:#26a2ff;
    outline:0;
}
.toolbar-btn.focus .toolbar-tabs-dropbox, .toolbar-btn:focus .toolbar-tabs-dropbox, .toolbar-btn:hover .toolbar-tabs-dropbox{
    display:block;
}
.toolbar-btn.focus .toolbar-tabs-dropbox:before,.toolbar-btn:focus .toolbar-tabs-dropbox:before,.toolbar-btn:hover .toolbar-tabs-dropbox:before{
    border-color:#26a2ff #26a2ff #26a2ff #fff;
}
.toolbar-btn.focus:before,.toolbar-btn:focus:before,.toolbar-btn:hover:before{
    color:#fff;
}
.toolbar-btn-dot,.toolbar-cartnum{
    font-weight:700;
    font-style:normal;
}
.toolbar-cartbtn.focus,.toolbar-cartbtn:focus,.toolbar-cartbtn:hover{
    color:#fff;       
    outline:0;
    background-color:#26a2ff;
}
.toolbar-cartbtn.focus:before,.toolbar-cartbtn:focus:before,.toolbar-cartbtn:hover:before{
    color:#fff;
}
.toolbar-tabs-bottom {
    bottom: 10px;
    position: absolute;
}
.sidebar-btn-backtop, .toolbar-tabs-bottom .icon-QR-code {
    position: relative;
}
.dropbox {
    color: #999;
    position: absolute;
    background: #fff;
    background: rgba(255,255,255,.98);
    padding: 4px 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    border: 1px solid #ddd\9;
    border-width: 0 1px 1px\9;
    z-index: 6;
}
.toolbar-tabs-dropbox img {
    width: 130px;
    height: 130px;
}

.toolbar-tabs-dropbox {
    right: 35px;
    top: -150px;
    line-height: 24px;
    display: none;
    z-index: 9;
}
.toolbar-tabs-dropbox .icon-QR-code-bonus {
    padding: 5px;
    color: #f63;
    font-size: 12px;
}
.sidebar-btn-backtop, .toolbar-tabs-bottom .icon-QR-code {
    position: relative;
}
.sidebar-content {
    margin-left: 35px;
    height: 100%;
    width: 295px;
    overflow: auto;
    background-color: #e6e6e6;
}
.toolbar-btn::before {
    font-size: 20px;
}



